%h2
  =link_to @k.seiyu.name, seiyu_path(@k.seiyu)
  の
  =l @k.at
  の携帯電話は
  =link_to @k.phone, kishu_path(@k.phone)
%p
  -if @k.image?
    %img(src="#{@k.url}")
  - elsif @k.tweet?
    =raw "<blockquote class=\"twitter-tweet\"><p>#{@k.tweet['text']}</p>&mdash; #{@k.tweet['user']['name']} (@#{@k.tweet['user']['screen_name']}) <a href=\"#{@k.url}\"></a></blockquote><script async src=\"//platform.twitter.com/widgets.js\" charset=\"utf-8\"></script>"
    %h3 この発言は #{raw @k.tweet['source']} で発言されています。
  -else
    =link_to 'ここで確認', @k.url
-if login?
  %p=link_to '情報を編集', edit_keitaidenwa_path(@k)

